.questionPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 60%;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(54, 66, 108, 0.7);
    position: relative;
  }
  
  .questionPanel h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: rgb(54, 66, 108);
  }
  
  .writtenQuiz {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .writtenQuiz input {
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .writtenQuiz button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .writtenQuiz button:hover {
    background-color: #27ae60;
  }
  
  .navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    position: absolute;
    bottom: 10px;
  }
  
  .arrowButton {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(71, 111, 246, 0.7);
  }
  
  .arrowButton:hover {
    background-color: #2980b9;
  }
  
  .arrowButton:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
    box-shadow: none;
  }
  
  .questionIndex {
    font-size: 1rem;
    color: rgb(54, 66, 108);
    margin: 0;
  }
  
  .arrowIcon {
    width: 20px;
    height: 20px;
  }