.app {
  display: flex;
  height: 100vh; /* Full viewport height */
}

.main-content {
  display: flex;
  flex: 1; /* Take up the remaining space */
}

.content-area {
  flex: 1; /* Take up the remaining space */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}